<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryManagementFProject</title>
    <%--BOOTSTRAP CSS --%>
    <link href="Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <%--DATATABLES CSS --%>
    <link href="Datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <%--FONTAWESOME CSS ADDED LINK-ICONS DIDN'T LOAD IN FOLDER--%>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

    <%--OUR CUSTOM CSS--%>
    <link href="css/customstylesheet.css" rel="stylesheet" />

    <%--JQUERY --%>
    <script src="Bootstrap/js/jquery.3.4.1.js"></script>
    <%--POPPER JS --%>
    <script src="Bootstrap/js/popper.min.js"></script>
    <%--BOOTSTRAP JS --%>
    <script src="Bootstrap/js/bootstrap.min.js"></script>
</head>
<!--<body>-->
<header>
    <nav class="navbar navbar-expand-lg navbar-light:">
        <a class="navbar-brand" hred="#">
            <img src="imgs/books.png" width="30" height="30" />
            Caprena's E-Library
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="homepage.aspx">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Terms</a>
                </li>

            </ul>
        </div>
    </nav>
</header>


<section>
    <img src="imgs/home-bg.jpg" class="img-fluid" />
</section>
<section>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <center>
                    <h2>Our Features</h2>
                    <p><b>Our 3 Primary Features -</b></p>
                </center>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <center>
                    <img width="150px" src="imgs/digital-inventory.png" />
                    <h4>Digital Book Inventory</h4>
                    <p class="text-justify">
                        Duis aute irure dolor in reprehenderit in  voluptate velit esse cillum
                        dolors eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit
                    </p>
                </center>
            </div>

            <div class="col-md-4">
                <center>
                    <img width="150px" src="imgs/search-online.png" />
                    <h4>Search Books</h4>
                    <p class="text-justify">
                        Duis aute irure dolor in reprehenderit in  voluptate velit esse cillum
                        dolors eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit
                    </p>
                </center>
            </div>

            <div class="col-md-4">
                <center>
                    <img width="150px" src="imgs/defaulters-list.png" />
                    <h4>Defaulter List</h4>
                    <p class="text-justify">
                        Duis aute irure dolor in reprehenderit in  voluptate velit esse cillum
                        dolors eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit
                    </p>
                </center>
            </div>
        </div>

    </div>

</section>

<section>
    <img src="imgs/in-homepage-banner.jpg" class="img-fluid" />

</section>
<section>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <center>
                    <h2>Our Process</h2>
                    <p><b>We Have A Simple 3 Step Process</b></p>
                </center>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <center>
                    <img width="150px" src="imgs/sign-up.png" />
                    <h4>Sign Up</h4>
                    <p class="text-justify">
                        Duis aute irure dolor in reprehenderit in  voluptate velit esse cillum
                        dolors eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit
                    </p>
                </center>
            </div>

            <div class="col-md-4">
                <center>
                    <img width="150px" src="imgs/search-online.png" />
                    <h4>Search Books</h4>
                    <p class="text-justify">
                        Duis aute irure dolor in reprehenderit in  voluptate velit esse cillum
                        dolors eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit
                    </p>
                </center>
            </div>

            <div class="col-md-4">
                <center>
                    <img width="150px" <img src="imgs/library.png" />
                    <h4>Visit Us</h4>
                    <p class="text-justify">
                        Duis aute irure dolor in reprehenderit in  voluptate velit esse cillum
                        dolors eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit
                    </p>
                </center>
            </div>
        </div>

    </div>

</section>
<!-- </body>-->
</html>
<!-- <header>
     <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
         <div class="container">
             <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LibraryManagementFProject</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                     aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>
             <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                 <ul class="navbar-nav flex-grow-1">
                     <li class="nav-item">
                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                     </li>
                 </ul>
             </div>
         </div>
     </nav>
 </header>
 <div class="container">
     <main role="main" class="pb-3">
         @RenderBody()
     </main>
 </div>-->

 <footer class="border-top footer text-muted">
     <div class="container">
         &copy; 2021 - LibraryManagementFProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
     </div>
 </footer>
 <script src="~/lib/jquery/dist/jquery.min.js"></script>
 <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 <script src="~/js/site.js" asp-append-version="true"></script>
 @RenderSection("Scripts", required: false)
